/.vs/ProjectSettings.json
/.vs/quiz/v16/Browse.VC.db
/.vs/quiz/v16/Browse.VC.db-shm
/.vs/quiz/v16/Browse.VC.db-wal
/.vs/quiz/v16/Browse.VC.opendb
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/quiz/v16/.suo
/backend/src/__pycache__/schemas.cpython-38.pyc.2615075233200
